{{ define "main" }}
<section class="content-single-section">
  <div class="content-single-container">
    <!-- blog-single-content => content-single-block -->
    <div class="content-single-block">
      <article class="content-single-article">
        {{partial "content-heading.html" .}}
        <div class="content-prose">
          {{ .Content }}
        </div>
        <!-- Social Share -->
        <div class="social-share-container">
          <span class="social-share-label">Share:</span>
          {{ partial "social-share.html" . }}
        </div>
      </article>
    </div>
  </div>
</section>
{{ end }}
