<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="h-full">

<head>
  {{ partial "head.html" . }}
</head>

<body class="h-full bg-primary-light dark:bg-primary-dark text-text-light dark:text-text-dark">
  <div class="min-h-full flex flex-col w-2/3 mx-auto">
    {{ partial "header.html" . }}
    <main class="flex-grow">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
  </div>
  <script src="{{ " js/theme-toggle.js" | relURL }}"></script>
</body>

</html>
