<article class="blog-card">
  {{ with .Params.image }}
  <img src="{{ . }}" alt="{{ $.Title }}" class="blog-image">
  {{ end }}
  <div class="blog-content">
    <h2 class="blog-title">
      <a href="{{ .Permalink }}" class="blog-title-link">{{ .Title }}</a>
    </h2>
    <time datetime="{{ .Date.Format " 2006-01-02" }}" class="blog-date">
      {{ .Date.Format "January 2, 2006" }}
    </time>
    <p class="blog-summary">{{ .Summary }}</p>
    <a href="{{ .Permalink }}" class="blog-link">View Blog</a>
  </div>
</article>
