<div class="bg-secondary-light dark:bg-secondary-dark rounded-lg shadow-md p-6 w-full mb-4">
    <!-- Note Title -->
    <a href="{{ .Permalink }}">
        <h2 class="text-2xl font-bold mb-2">{{ .Title }}</h2>
    </a>
    
    <!-- Note Description -->
    <div class="relative">
        <p class="text-text-light dark:text-text-dark mb-4 line-clamp-3">{{ .Summary }}</p>
        <a href="{{ .Permalink }}" class="text-accent-light dark:text-accent-dark hover:underline absolute bottom-0 right-0 bg-secondary-light dark:bg-secondary-dark pl-2">Read more</a>
    </div>
    
    <!-- Tags -->
    <div class="flex flex-wrap gap-2 mb-4">
        {{ range .Params.tags }}
        <a href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}/">
            <span class="bg-accent-light dark:bg-accent-dark text-white px-2 py-1 rounded text-sm">{{ . }}</span>
        </a>
        {{ end }}
    </div>
    
    <!-- Metadata -->
    <div class="text-sm text-gray-500 dark:text-gray-400">
        <span>{{ .Date.Format "January 2, 2006" }}</span>
        <span class="mx-2">•</span>
        <span>{{ .ReadingTime }} min read</span>
    </div>
</div>