<div class="social-share-links">
  <!-- Facebook -->
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | absURL }}" target="_blank"
    rel="noopener noreferrer" class="social-share-link social-share-facebook">
    <i class="fab fa-facebook-f"></i>
  </a>

  <!-- Twitter -->
  <a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink | absURL }}" target="_blank"
    rel="noopener noreferrer" class="social-share-link social-share-twitter">
    <i class="fab fa-twitter"></i>
  </a>

  <!-- LinkedIn -->
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink | absURL }}&title={{ .Title }}"
    target="_blank" rel="noopener noreferrer" class="social-share-link social-share-linkedin">
    <i class="fab fa-linkedin-in"></i>
  </a>
</div>
