<div class="p-4 max-w-full bg-secondary-light dark:bg-secondary-dark rounded-lg shadow-md overflow-hidden">
    <!-- Table of Contents Header -->
    <div class="text-xl font-bold pb-2 border-b-2 border-gray-300 dark:border-gray-700 dark:text-gray-200">
        Table of Contents
    </div>

    <div class="my-4">
        <ul class="w-full list-decimal list-inside bg-secondary-light dark:bg-secondary-dark mt-2 p-4 rounded-md space-y-2 transition-all duration-300 ease-out" x-cloak>
            {{ .TableOfContents }}
        </ul>
    </div>
</div>